<!DOCTYPE html>
<html>

<head>
    <title>
        Bunny
    </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="Styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link id="favicon" rel="icon" href="Icon.ico" type="image/x-icon">
    <meta name="Important" content="Discord Server, Bunny, Only Girls, Util Bot">
</head>

<body>
    <div class="container" onclick="window.open('https://discord.com/users/437308398845952001');">
        <div class="card">
            <h1>Bunny</h1>
            <p> by MrMikeMC#9081</p>
        </div>
    </div>
</body>

</html>